# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/dist-react
client/dist-electron
.env
venv
assets
node_modules
server_env
env
*.wav
*.mp4
*.mp3
ailabs_dts
m_ailabs_transcriptions_with_speakers.json
m_ailabs_temp
m_ailabs_dataset.json
flagged_transcriptions_de.json
flagged_transcriptions_en.json
~
lookup.json
dataset
transcrips
wavs
MyTTSDataset
MyTTSDataset_10
audio_dataset
fine_tuning_output
xtts_checkpoints
org.mp4